* {
    box-sizing: border-box;
}

figure#game-container {
    text-align: left;
    display: grid;
    justify-content: center;
    grid-template-columns: min-content;
    grid-template-areas: "game";
}

canvas#game {
    grid-area: game;
    z-index: 1;
    display: block;
    max-width: unset;
    opacity: 0.5;
}
canvas#game:focus {
    outline: none;
    opacity: 1.0;
}

#focus-instructions {
    height: 2em;
    grid-area: instructions;
    text-align: center;
    background: hsl(60, 100%, 90%);
    color: black;
    opacity: 0.0;
    transition: all 0.2s;
}

#messages {
    box-sizing: border-box;
    font-size: 0.8em;
    height: 6em; /* see explanation below */
    line-height: 1.0;
    background: black;
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    text-align: left;
}
